[Desktop Entry]
_Name=sensorapp
Exec=qmlscene $@ sensorapp/Main.qml
Icon=sensorapp/sensorapp.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

